<main>
  <div class="form">
    <h2 class="form__title">Update product</h2>
    <!-- <p *ngIf="formMessage" class="success">
      {{ formMessage }}
    </p> -->
    <form
      #sellerUpdateProduct="ngForm"
      (ngSubmit)="updateProduct(sellerUpdateProduct.value)"
    >
      <input
        type="text"
        placeholder="Enter product name..."
        name="name"
        ngModel="{{ product?.name }}"
      />
      <input
        type="text"
        placeholder="Enter product price..."
        name="price"
        ngModel="{{ product?.price }}"
      />
      <input
        type="text"
        placeholder="Enter product category..."
        name="category"
        ngModel="{{ product?.category }}"
      />
      <input
        type="text"
        placeholder="Enter product color..."
        name="color"
        ngModel="{{ product?.color }}"
      />
      <textarea
        type="text"
        placeholder="Enter product description..."
        name="description"
        ngModel="{{ product?.description }}"
      ></textarea>

      <input
        type="text"
        placeholder="Enter product image URL..."
        name="image"
        ngModel="{{ product?.image }}"
      />
      <button type="submit">Update product</button>
    </form>
  </div>
</main>
