<header class="header">
  <nav class="nav">
    <h1 class="nav__logo"><a routerLink="/">Logo</a></h1>
    <div *ngIf="menu === 'default'" class="nav__search">
      <input
        type="text"
        placeholder="Search products..."
        class="nav__search-input"
      />
      <button class="nav__search-btn">Search</button>
    </div>
    <div [ngSwitch]="menu">
      <ul *ngSwitchCase="'default'" class="nav__links">
        <li class="nav__link">
          <a routerLink="seller" class="nav__link-txt">Seller</a>
        </li>
        <li class="nav__link"><a routerLink="">Home</a></li>
        <li class="nav__link"><a href="#">Login</a></li>
        <li class="nav__link"><a href="#">Cart(0)</a></li>
      </ul>
      <ul *ngSwitchCase="'seller'" class="nav__links">
        <li class="nav__link"><a routerLink="seller">Add product</a></li>
        <li class="nav__link"><a routerLink="">View list</a></li>
        <li class="nav__link"><a href="#">Log out</a></li>
        <li class="nav__link"><a href="#">Profile</a></li>
      </ul>
    </div>
  </nav>
</header>
