.header {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo a {
  color: #212529;
  text-decoration: none;
}

.nav__search {
  display: flex; /* betyder flex-grow: 1, flex-shink: 1, flex-basis: auto*/
  flex: 1; /* gör att sökfältet kan växa */
  max-width: 500px;
}

.nav__search-input,
.nav__search-btn {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.nav__search-input {
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  flex: 1; /* fyller tillgängligt utrymme */
}

.nav__search-input:focus {
  outline: 2px solid #212529;
  outline-offset: -2px;
}

.nav__search-btn {
  background-color: #212529;
  color: #fff;
  border-color: #212529;
  border-radius: 0 4px 4px 0;
}

.nav__links {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  padding-left: 16px;
}

.nav__link a {
  text-decoration: none;
  color: #212529;
}
